<!DOCTYPE html>
 <html lang="en">
  <meta charset="UTF-8">
  <title>MPD</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="refresh" content="3">
 </head>
 <body>
  <h1>mpd</h1>
  {{if .Playing }}
    <!-- We could have used `if len .Title ..` but this is cleaner -->
    {{if .Populated }}
      <p>Currently playing {{.Artist}}: {{.Title}}.</p>
    {{ else }}
      <p>Currently playing {{.File}}.</p>
    {{end}}
  {{end}}
  <p><ul>
   <li><a href="/prev">Previous</a></li>
   <li><a href="/next">Next</a></li>
   {{if .Playing}}
     <li>Play</li>
     <li><a href="/stop">Stop</a></li>
   {{else}}
     <li><a href="/play">Play</a></li>
     <li>Stop</li>
   {{end}}
  </ul></p>
 </body>
</html>
